/*
* General Styles
*/
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* { font-family: Arial, Helvetica, sans-serif }
body { background-color: #BCBCBD }
h1 {
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #9CA0A3;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0px 1px 4px #fff;
}
.wrap {
    margin: 0 auto;
    width: 1000px;
    /*THIS IS A HACK TO CLEAR FLOATS*/
    overflow: hidden;
}
.link-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
.link-list li {
    background-position: 0px center; 
    padding-left: 15px; 
}
/*NAVIGATION STYLES*/
nav {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
nav ul {
    list-style: none;
    padding: 0px 0 0 0;
}
nav li { display: inline-block }
nav a {
    display: block;
    padding: 5px 15 0 15;
    margin: 0px 0 0 6;
    color: #DCDCDC;
    text-decoration: none;
}
nav a:hover {
    background-color: #E6E6E6;
    color: #BCBCBD;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}
/*CONTENT STYLES*/
section {
    padding: 2px 0;
    border-top-right-radius: 90px;
    border-style: solid;
    border-color: red;
    border-width: 0px;
    margin: 0px 0 0 0;
    border-bottom-style:none;
    border-left-style: none;
}
main {
    width: 700px;
    float: right;
    padding: 1px 20;
}
h3 {
    text-transform: capitalize;
    color: #B0B3BE;
    font-size: 20px;
    margin: 20px 0 10 0;
}
.content { 
    color: #777777;
    text-align: justify;
    margin: 0px 60 60 0; 
}
/*SIDEBAR STYLES*/
aside {
    width: 300px;
    float: left;
    background: #E6E6E6;
    padding: 0px 30 20 20;
    border-bottom-right-radius: 90px;
    margin: 0px 0 0 0;
    border-width: 2px;
    border-left-width: 6px;
    border-color: #BCBCBD;
    border-style: solid;
    border-left-color: #BCBCBD;
    border-top-style: none;
}
aside a {
    color: #5B6891;
    text-decoration: none;
    text-transform: capitalize;
}
aside a:hover {
    text-decoration: none;
    color: #060C1D;
}
h2 {
    text-transform: uppercase;
    color: #9CA0AE;
}
/*FOOTER STYLES*/
footer {
    background-color: #DADADA;
    padding: 20px 0;
    color: #FFFFFF;
    text-align: center;
}
/*GRID STYLES*/
.grid {
    overflow: hidden;
    border: 1px;
    border-color: #E6E6E6;
    border-style: solid;
    margin: 16px 60 80 0;
    padding: 0px 0 0 0;
}
.grid li {
    padding: 2px;
    width: 25%;
    float: left;
}
.grid img {
    display: block;
    width: 100%;
    height: auto;
}
/*LIGHTBOX*/
.lightbox {
    /*default lightbox to hidden*/
    display: none;
    /*position and style*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: auto;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(20,22,31,0.5);
-webkit-animation: fadein 1s; /*Safari, Chrome and Opera > 12.1*/
       -moz-animation: fadein .33s; /*Firefox < 16*/
        -ms-animation: fadein .33s; /*Internet Explorer*/
         -o-animation: fadein .33s; /*Opera < 12.1*/
            animation: fadein .33s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*Firefox < 16*/
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*Safari, Chrome and Opera > 12.1*/
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*Internet Explorer*/
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*Opera < 12.1*/
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.lightbox img {
    /*pad for lightbox image*/
    max-width: 33%;
    max-height: 33%;
    margin: 0% 0 0 33%;
    padding: 5% 0 33% 0%;
}
.lightbox:target {
    /*remove default browser outline*/
    outline: none;
    /*unhide lightbox*/
    display: block;
}