/*
* General Styles
*/
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* { font-family: Arial, Helvetica, sans-serif }
body { 
    background-color: #BCBCBD;
}
h1 {
    margin: 0px 0 16 0;
    padding: 0px 0 0 0;
    text-transform: uppercase;
    color: #9CA0A3;
    text-align: center;
    font-weight: bold;
    font-size: 44px;
    text-shadow: 0px 1px 4px #fff;
}
.wrap {
    margin: 0 auto;
    width: 1000px;
    /*THIS IS A HACK TO CLEAR FLOATS*/
    overflow: hidden;
}
.link-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
.link-list li {
    background-position: 0px center; 
    padding-left: 15px; 
}
/*NAVIGATION STYLES*/
nav {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
nav ul {
    list-style: none;
    padding: 0px 0 0 0;
    margin: 0px 0 0 0;
}
nav li { display: inline-block }
nav a {
    display: block;
    padding: 5px 15 0 14.5;
    margin: 0px 0 0 6;
    color: #DCDCDC;
    text-decoration: none;
}
nav a:hover {
    background-color: #E6E6E6;
    color: #BCBCBD;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}
/*CONTENT STYLES*/
section {
    padding: 2px 0;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    border-style: solid;
    border-color: red;
    border-width: 0px;
    margin: 0px 0 0 0;
    border-bottom-style:none;
    border-left-style: none;
}
main {
    width: 700px;
    float: right;
    padding: 1px 20;
}
h3 {
    text-transform: capitalize;
    color: #B0B3BE;
    font-size: 20px;
    margin: 20px 0 10 0;
}
.content { 
    color: #989899;
    text-align: justify;
    margin: 0px 60 0 0; 
}
/*SIDEBAR STYLES*/
aside {
    width: 300px;
    float: left;
    background: #E6E6E6;
    padding: 0px 30 20 20;
    border-bottom-right-radius: 90px;
    margin: 0px 0 0 0;
    border-width: 2px;
    border-left-width: 6px;
    border-color: #BCBCBD;
    border-style: solid;
    border-left-color: #BCBCBD;
    border-top-style: none;
}
aside a {
    color: #A9A9AA;
    text-decoration: none;
    text-transform: capitalize;
}
aside a:hover {
    text-decoration: none;
    color: #060C1D;
}
h2 {
    text-transform: uppercase;
    color: #BCBCBD;
}
/*FOOTER STYLES*/
footer {
    background-color: #DADADA;
    padding: 0px 0 0 20;
    margin: 0px 0 0 0;
    color: #FFFFFF;
}
#footercopy {
    float: left;
}
/*GRID STYLES*/
.grid {
    overflow: hidden;
    border: 1px;
    border-color: #E6E6E6;
    border-style: solid;
    margin: 16px 60 0 0;
    padding: 0px 0 0 0;
}
.grid li {
    padding: 2px;
    width: 25%;
    float: left;
}
.grid img {
    display: block;
    width: 100%;
    height: auto;
}
/*CONTACT FORM BUTTON STYLE*/
input[type=button] {
    margin: 120px 0 0 50;
    padding: 5px 5 5 5;
    background-color: #BCBCBD;
    color:#E6E6E6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160%;
}
input[type=button]:hover {
    background-color: #3399FF;
}